<div id="map">
    <img id="map-img" src="assets/got-map.png" target="_blank" alt="">
    <app-ad @inOut *ngFor="let ad of ads" 
    [style.left]="ad.coordinates.x + '%'" [style.top]="ad.coordinates.y + '%'"
    
    url={{ad.url}}
    type={{ad.type}}></app-ad> 

    <!-- <app-ad style="top: 40%; left: 50%; " 
    url="https://firebasestorage.googleapis.com/v0/b/ubimo-home-assignment.appspot.com/o/images%2Fray_ban.jpg?alt=media&token=65c9f096-c24c-44c3-b7e0-480a6938e740"
    type="IMAGE"></app-ad> 

    <span style="position: absolute; top: 50%; display: block; transform: scale(0.5)">Hello!</span> -->
</div>