#map{
    width: 100%;
    position: relative;
    //TODO - create inner scroll here
    overflow: hidden;
    img{
        width: 100%;
    }

    app-ad{
        display: block; 
        position: absolute; 
        transform:  translate(-50%, -50%) scale(1);
    }
}